body {
  margin: 0 auto;
}
main {
  width: 980px;
}
.box-1 {
  width: 210px;
  border: 1px solid #000;
  float: left;
  margin-left: 30px;
}
.box-2 {
  width: 210px;
  border: 1px solid #000;
  float: left;
  margin-left: 30px;
}
.box-3 {
  width: 210px;
  border: 1px solid #000;
  float: left;
  margin-left: 30px;
}
header {
  width: 210px;
  height: 214px
}
.box-1, .box-2, .box-3 {}
footer {
  width: 320px;
}
.small-1, .small-2, .small-3, .small-4, .small-5 {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  border-bottom: none;
  border-right: none;
  float: left;
  padding: .2px;
  position: relative;
}
.small-1 {
  border-left: none;
  height: 40px;
}
.reply {
  float: right;
  margin: 0;
  width: 15px;
  height: 15px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}
.small-1:hover {
  background-image: url("../images/icons/button_1_hover.png");
}
.small-1 {
  background-image: url("../images/icons/button_1.png");
  background-size: contain;
}
.small-2 {
  background-image: url("../images/icons/button_2.png");
  background-size: contain;
}
.small-2:hover {
  background-image: url("../images/icons/button_2_hover.png");
}
.small-5 {
  background-image: url("../images/icons/button_3.png");
  background-size: contain;
}
.small-5:hover {
  background-image: url("../images/icons/button_3_hover.png");
}
.small-3 {
  text-align: center;
}
.xl {
  height: 40px;
  width: 40px;
  color: #81BCE6;
}
.container {
  padding: 10px;
}
.xl:hover {
  transition: color 0s;
  background-color: #81BCE6;
  height: 40px;
  margin: 0;
  color: white;
  width: 40px;
  top: 0;
  left: 0;
}
.box-1 .colored-box {
  width: 30px;
  height: 30px;
  background-color: #81BCE6;
  margin: 5px 0 0 5px;
}
.box-2 .colored-box {
  width: 30px;
  height: 30px;
  background-color: #D482AA;
  margin: 5px 0 0 5px;
}
.box-3 .colored-box {
  width: 30px;
  height: 30px;
  background-color: #D8AD7A;
  margin: 5px 0 0 5px;
}
.box-1 header {
  background-image: url("../images/shirts/1_front.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.box-2 header {
  background-image: url("../images/shirts/2_front.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.box-3 header {
  background-image: url("../images/shirts/3_front.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.box-1 .reply {
  background-image: url("../images/icons/rotate.png");
  background-size: contain;
}
.box-1 .reply:hover {
  background-image: url("../images/icons/rotate_hover.png");
}
.box-2 .reply {
  background-image: url("../images/icons/rotate.png");
  background-size: contain;
}
.box-2 .reply:hover {
  background-image: url("../images/icons/rotate_hover.png");
}
.box-3 .reply {
  background-image: url("../images/icons/rotate.png");
  background-size: contain;
}
.box-3 .reply:hover {
  background-image: url("../images/icons/rotate_hover.png");
}
.hidden-box {
  width: 26px;
  height: 100px;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  left: 5px;
  bottom: 100%;
  visibility: hidden;
  opacity: 0;
}

.small-4:hover .hidden-box {
  visibility: visible;
  opacity: 1;
  transition: visibility 3s, opacity 3s;

}

.small-3:hover .hidden-box {
  visibility: visible;
  opacity: 1;
  transition: visibility 3s, opacity 3s;
}
